<!-- <div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4"
            [ngClass]="{
                'notAval': !mobile.isAvailable
            }"
            *ngFor="let mobile of mobileProducts">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="imgContainer">
                                <img [src]="mobile.image" 
                                class="img-fluid" 
                                [alt]="mobile.name"
                                 [title]="mobile.name"
                                 *ngIf="mobile.image;else noImg">
                                 <ng-template #noImg>
                                    <p class="noImg text-muted m-0 d-flex justify-content-center align-items-center">Product is not available</p>
                                 </ng-template>
                               </div>
                            <!-- <div class="imgContainer">
                                <img [src]="mobile.image ? mobile.image:'https://placehold.co/600x400'" 
                                class="img-fluid" 
                                [alt]="mobile.name"
                                 [title]="mobile.name"
                                 >
                               </div> -->
                           <!-- <div class="imgContainer">
                            <img [src]="mobile.image" class="img-fluid" 
                            [alt]="mobile.name"
                             [title]="mobile.name"
                             *ngIf="mobile.image;else noImgPlaceholder"
                             >
                             <ng-template #noImgPlaceholder>
                                <img src="https://placehold.co/600x400" [alt]="mobile.image"
                                [title]="mobile.name" class="img-fluid"
                                >
                             </ng-template>
                           </div> 
                        </div>
                        <div class="col-md-8">
                            <h4>
                                {{mobile.name}}
                                <small 
                                class="text-white p-1 rating"
                                [ngClass]="{
                                    'bg-success': mobile.rating>=4,
                                    'bg-warning': mobile.rating>=3&& mobile.rating<4,
                                    'bg-danger': mobile.rating<3
                                }">
                                {{mobile.rating }}*
                                </small>
                            </h4>
                            <p class="rating">
                            </p>
                            <ul class="list-group p-2">
                                <li class="list-group-items" *ngFor="let str of specification">
                                    {{str}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4"
            [ngClass]="{
                'notAval': !mobile.isAvailable
            }"
            *ngFor="let mobile of mobileProducts">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="imgContainer">
                                <img [src]="mobile.image" 
                                class="img-fluid" 
                                [alt]="mobile.name"
                                 [title]="mobile.name"
                                 *ngIf="mobile.image;else noImg">
                                 <ng-template #noImg>
                                    <p class="noImg text-muted m-0 d-flex justify-content-center align-items-center">Product is not available</p>
                                 </ng-template>
                               </div>
                            <!-- <div class="imgContainer">
                                <img [src]="mobile.image ? mobile.image:'https://placehold.co/600x400'" 
                                class="img-fluid" 
                                [alt]="mobile.name"
                                 [title]="mobile.name"
                                 >
                               </div> -->
                           <!-- <div class="imgContainer">
                            <img [src]="mobile.image" class="img-fluid" 
                            [alt]="mobile.name"
                             [title]="mobile.name"
                             *ngIf="mobile.image;else noImgPlaceholder"
                             >
                             <ng-template #noImgPlaceholder>
                                <img src="https://placehold.co/600x400" [alt]="mobile.image"
                                [title]="mobile.name" class="img-fluid"
                                >
                             </ng-template>
                           </div> -->
                        </div>
                        <div class="col-md-6">
                            <h4>
                                {{mobile.name}}
                                <small 
                                class="text-white p-1 rating"
                                [ngClass]="{
                                    'bg-success': mobile.rating>=4,
                                    'bg-warning': mobile.rating>=3&& mobile.rating<4,
                                    'bg-danger': mobile.rating<3
                                }">
                                {{mobile.rating }}*
                                </small>
                            </h4>
                            <p class="rating">
                            </p>
                            <ul class="list-group p-2">
                                <li class="list-group-items" *ngFor="let str of specification">
                                    {{str}}
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <ul class="list-group">
                                <li class="list-group-items" *ngFor="let str1 of mobileprice">
                                    {{str1}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
