

.imgContainer{
    height: 300px;
    img{
        height: 100%;
        object-fit: cover;
    }
}
.noImg{
    height: 100%;
    border: 1 px solid #ededed;   
    background-color: #ccc;
}

    .rating{
        border-radius: 4px;
    }
.notAval{
    filter: blur(.5px) grayscale(1);
}
li{
    list-style: none;
    list-style-type: square;
    padding: 5px;
    background-color: #ededed;
    color: dark;
}