


<hr>
<h1 class="bg-success text-white text-center p-2" >Angular Component</h1>



<hr>

<div class="container">
    <div class="row">
        <div class="col-12">
            <app-std></app-std>
            <!-- <app-todos></app-todos> -->
            <!-- <app-movies></app-movies> -->
            <!-- <app-tab-switch></app-tab-switch> -->
            <!-- <app-tab-for></app-tab-for> -->
            <!-- <app-tab></app-tab> -->
            <!-- <app-mobile></app-mobile> -->
            <!-- <app-posts></app-posts> -->
        </div>
    </div>
</div>
<!-- <div class="container">
    <div class="row">
        <div class="col-12">
            <app-product></app-product>
        </div>
        <div class="col-12">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let skill of  skills">
                    I love {{skill}}
                </li>
            </ul>
            <hr>
            <table class=" table table-bordered">
                <thead>
                    <tr>
                        <th>Sr.number</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>contact</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let std of stdArr; let i = index">
                        <td>{{i + 1}}</td>
                        <td>{{std.fname}}</td>
                        <td>{{std.lname}}</td>
                        <td>{{std.email}}</td>
                        <td>{{std.contact}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> -->

<!-- // structurl diretive (*)-->
<!-- 
<hr>

<div class="container">
    <div class="row">
        <div class="col-12">
           

            <ul class="list-group">
                <li class="list-group-item" *ngFor="let Player of PlayerName">I love {{Player}}</li>
            </ul>
            <hr>
            <table class=" table table-bordered">
                <thead>
                    <tr>
                        <th>Sr.number</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Contact</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ply of players; let i = index">
                        <td>{{i + 1}}</td>
                        <td>{{ply.fname}}</td>
                        <td>{{ply.lname}}</td>
                        <td>{{ply.email}}</td>
                        <td>{{ply.contact}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> -->



<!-- Directive >> which gives instruction to the DOM 

    Component>> It has its own HTML
    Attribute
    Structural >> always start with *>> It defines structure of DOM
-->
<app-post></app-post>
 <app-post></app-post> 