
<h2 class="bg-success text-dark p-2">Student list </h2>

<div class="container">
    <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
            <div class="form-gorup">
                <label for="fname">First Name</label>
                <input type="text" #fname class="form-control" id="fname">
            </div>
            <div class="form-gorup">
                <label for="fname">Last Name</label>
                <input type="text" #lname class="form-control" id="lname">
            </div>
            <div class="form-gorup">
                <label for="fname">Email</label>
                <input type="text" #email class="form-control" id="email">
            </div>
            <div class="form-gorup">
                <label for="fname">Contact</label>
                <input type="text" #contact class="form-control" id="contact">
            </div>
            <button class="btn btn-outline-primary btn-block mt-4"
            (click)="onStdAdd(fname,lname,email,contact)"
            >Add student</button>
        </div>
        
        <div class="col-md-6 mt-4">
            <table class="table table-bordered bg-primary text-white"
            *ngIf="stdArr.length>0;else nostd"
            >
                <thead>
                    <tr>
                        <th>Sr/no</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Contact</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let std of stdArr;let i=index">
                        <td>{{i+1}}</td>
                        <td>{{std.fname}}</td>
                        <td>{{std.lname}}</td>
                        <td>{{std.email}}</td>
                        <td>{{std.contact}}</td>
                    </tr>
                </tbody>
            </table>
            <ng-template #nostd>
                <p class="alert alert-warning">
                    No Student Data is available yet !!!
                </p>
            </ng-template>
        </div>
    </div>
</div>